html,body{
    padding: 0;
    margin: 0;
    background-color: cyan;
}
.box{
    width: 220px;
    height: 150px;
    /*默认情况下， webpack 无法处理 css 文件中的 url 地址，不管是图片还是字体库，只要是 url 地址，都处理不了*/
    background : url("../images/backimagelogin.jpg");
    background-size: cover;
}
.box2{
    width: 220px;
    height: 150px;
    background : url("../images2/backimagelogin.jpg");
    background-size: cover;
}